.classpath
.DS_Store
.sfdx
.project
.salesforce
node_modules
.idea
.tern-project
.settings
selenium-client-jars/
test/artifacts
setenv.sh 
.vscode
assets/server.key 
assets/server.crt
assets/server.csr 
